{{!-- html for dashboard,  --}}

<div>   
    <h1>Your Saved posts</h1>
</div>

{{!-- div for all my existing posts --}}
<div class="my_posts">
    {{#each posts as |post|}}

    <h1 class ="postholder">{{post_title}} {{post_date}}</h1>



    {{/each}}

</div>

{{!-- div for button to add new blog post --}}

{{!-- WHEN I click on the dashboard option in the navigation
 and the option to add a new blog post --}}