<div>Welcome to the Tech Blog</div>
<div class="postcard">
        {{!-- grab bootstrap to make pretty containers --}}
    <p>

        {{#each posts as |post|}}
            
            <a class ="postholder" href="">{{post_title}} {{post_date}}</a>

        {{/each}}
    </p>

</div>


</div>
   <a class="btn btn-dark" href="../signup">Sign Up</a>
   <a class ="btn btn-dark" href="../login">Log In</a>
 </div>





